  @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #fff;
    --grey: #c4c4c4;
    --light-purple: #564ccf;
}
html{
    font-size: 16px;
    font-family: 'Tajawal', sans-serif;
}
body{
    background: #1e2028;
}
main{
    max-width: 1366px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}  
nav .logo{
    color: var(--light-purple);
    font-size: 3rem;
}
nav .nav-items{
    list-style-type: none;
    display: flex;
    
}
nav .nav-items .nav-item{
    padding-left: 2rem;
    font-size: 1.5rem;
}
.nav-item .nav-link{
    text-decoration: none;
    color: var(--grey);
 
}
.nav-item .nav-link:hover{
    color: #fafaf5;
}
.cta{
    font-family: inherit;
    padding: 0.75rem 2rem;
    border: none;
    color: var(--white);
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
   
}
.cta.dark{
    background-color: #252731;
    transition: background-color 0.3s;
}
.cta.dark:hover{
    background-color: #2d303b;
}
/* Hero */

.hero{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1{
    color: #fafaf5;
    font-size: 3rem;
    width: 40%;
    text-align: center;
    margin-bottom: 40px;
}
.hero span{
    color: var(--light-purple);
}
.cta.purple{
    background-color: var(--light-purple);
    transition: background-color 0.3s;
}
.cta.purple:hover{
    background-color: var(--light-purple);
}
.hero .cta.purple{
    margin-left: 15px;
}

/* Features */
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features h3{
    color: #fafaf5; 
    font-size: 2rem;
    margin-bottom: 1rem;
}
.features h6{
    color: var(--grey); 
    font-size: 1rem;
    margin-bottom: 3rem;
}

.feature{
    background-color: #252731;
    display: flex;
    border-radius: 3rem;
    overflow: hidden;
    margin-bottom: 3rem;
    box-shadow: 10px 10px 10px rgba(0,0,0, 0.5);

}
.feature .content{
    padding: 4rem;
    flex: 1;
}
.feature .content i{
    color: #4a41b4;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.feature .content h2{
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 2rem;
}
.feature .content p{
    color: var(--grey);
    font-size: 1.2rem;
    margin-bottom: 2rem;
    width: 80%;
    line-height: 2;
}
.feature img{
    flex: 1;
    max-width: 50%;
}

/* Details*/
.details{
    margin: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details h3{
    color: #fafaf5; 
    font-size: 2rem;
    margin-bottom: 1rem;
}
.details h6{
    color: var(--grey); 
    font-size: 1rem;
    margin-bottom: 3rem;
}
.details-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 4rem;
}
.detail{
    background: #252731;
    border-radius: 2rem;
    color: var(--white);
    padding: 3rem;
    box-shadow: 10px 10px 10px rgba(0,0,0, 0.5);
   
}
.detail i{
    color: #4a41b4;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.detail h2{
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.detail p{
    color: var(--grey);
}

/* Footer */
footer{
    background-color: #252731;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
    padding: 2rem 0;
}
footer h3{
    color: var(--white);
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--grey);
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
footer p{
    color: var(--grey);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
footer i{
    color: var(--grey);
    font-size: 1.5rem;
    margin: 1rem;
}
footer i:hover{
    color: var(--light-purple);
}




